@use "../../styles/partials/global" as *;

* {
  margin: 0;
  padding: 0;
}

.main {
    &__video {
    &__image {
      position: relative;
      aspect-ratio: 16/9;
      background-color: $brainflix-darkblack;
    }
    &__details {
      &__set {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__left {
          display: flex;
          &__id {
            display: none;
          }
          &__channel {
            font-family: $primary-bold;
            color: $brainflix-black;
          }
          &__timestamp {
            font-family: $primary-normal;
            color: $silver;
          }
        }
        &__right {
          display: flex;
          flex-direction: row;
          &__duo {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            &__icon {
              padding-right: 0.625rem;
            }
            &__views {
              font-family: $primary-normal;
              color: $silver;
            }
            &__likes {
              font-family: $primary-normal;
              color: $silver;
            }
          }
        }
      }
      &__paragraph {
        &__description {
          font-family: $primary-normal;
          color: $brainflix-black;
        }
      }
    }
    &__comments {
      &__div {
        &__placeholder {
          background-color: $mercury;
          border-radius: 50%;
          width: $headline-padding-after-desktop;
          height: $headline-padding-after-desktop;
        }
      }
      &__items {
        display: flex;
        flex-direction: column;
        &__block {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          &__name {
            font-family: $primary-bold;
            color: $brainflix-black;
          }
          &__timestamp {
            font-family: $primary-normal;
            color: $silver;
          }
        }
        &__comment {
          font-family: $primary-normal;
          color: $brainflix-black;
        }
      }
    }
  }
}

//Mobile
@media (max-width: $mobile-screen-min-size) {
    .main__video__image {
        width: 20rem;
        height: 11.875rem;
    }
    .main__video__headline {
        margin: 0 auto;
        width: 90%;
        padding: $headline-padding-between-components-mobile 0;
        border-bottom: 0.0625rem solid $mercury;
    }
    .main__video__headline__title {
        font-family: $primary-bold;
        font-size: $page-header-text-size-mobile;
    }
    .main__video__details {
        padding: $headline-padding-after-mobile;
        font-size: $body-text-size-mobile;
    }
    .main__video__details__div {
        padding: 1rem 0rem;
        border-bottom: 0.0625rem solid $mercury;
    }
    .main__video__details__div__length {
        font-family: $primary-bold;
        font-size: $body-text-size-mobile;
    }
    .main__video__details__set {
        padding-bottom: 1rem;
        border-bottom: 0.0625rem solid $mercury;
        justify-content: space-between;
    }
    .main__video__details__set__left {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .main__video__details__set__left__channel {
        padding-bottom: 1rem;
    }
    .main__video__details__paragraph__description {
        font-size: $body-text-size-mobile;
        line-height: $label-buton-line-height-mobile;
    }
    .main__video__details__set__duo__icon {
        width: $headline-padding-before-mobile;
    }
    .main__video__comments {
        display: flex;
        padding: $headline-padding-after-mobile;
    }
    .main__video__comments__items {
        padding: 0rem 0rem 0.625rem 0.625rem;
        border-bottom: 0.0625rem solid $mercury;
    }
    .main__video__comments__items__block {
        padding-bottom: 0.625rem;
    }
    .main__video__comments__items__block__timestamp {
        font-size: $body-text-size-mobile;
    }
    .main__video__comments__items__block__name {
        font-size: $body-text-size-mobile;
    }
    .main__video__comments__items__comment {
        font-size: $body-text-size-mobile;
        line-height: $section-line-height-mobile;
    }
    .main__video__details__set__right {
        display: flex;
        flex-direction: column;
    }
    .main__video__details__set__right__duo {
        padding-bottom: 16px;
    }
    .main__video__details__paragraph__description {
        padding-top: 16px;
    }
}

//Tablet
@media (min-width: 768px) and (max-width: $tablet-screen-max-size) {
    .main__video__image {
        object-fit: cover;
        margin: 0 auto;
        height: 430px;
        width: 768px;
    }
    .main__video__headline {
        padding: $headline-padding-after-mobile 2.125rem;
    }
    .main__video__headline__title {
        font-size: $page-header-text-size-desktop;
        font-family: $primary-bold;
    }
    .main__video__details {
        padding: 0 $headline-padding-after-desktop $headline-padding-after-desktop
        $headline-padding-after-desktop;
    }
    .main__video__details__div {
        border-bottom: 1px solid $mercury;
    }
    .main__video__details__div__length {
        font-family: $primary-bold;
        font-size: $body-text-size-desktop;
        padding: 16px 0;
    }
    .main__video__details__set {
        border-bottom: 1px solid $mercury;
        padding-bottom: 0.625rem;
        width: 100%;
        justify-content: space-between;
    }
    .main__video__details__set__left__channel {
        padding-right: $headline-padding-after-desktop;
        font-size: $body-text-size-desktop;
    }
    .main__video__details__set__left__timestamp {
        font-size: $body-text-size-desktop;
    }
    .main__video__details__set__right__duo__views {
        font-size: $body-text-size-desktop;
        padding-right: $headline-padding-after-desktop;
    }

    .main__video__channel {
        padding-left: 2.125rem;
        font-family: $primary-bold;
        font-size: $body-text-size-desktop;
    }
    .main__video__details__paragraph {
        padding-top: $headline-padding-after-mobile;
    }
    .main__video__details__paragraph__description {
        padding-top: 16px;
        font-size: $body-text-size-desktop;
        line-height: $section-line-height-desktop;
    }
    .main__video__comments {
        display: flex;
        padding: 1.5rem $headline-padding-between-components-desktop;
    }
    .main__video__comments__items {
        padding-left: 16px;
    }
    .main__video__comments__items__block {
        padding-bottom: 10px;
    }
    .main__video__comments__items__comment {
        padding-bottom: 16px;
        border-bottom: 1px solid $mercury;
    }
    .main__video__comments__name {
        font-size: $body-text-size-desktop;
    }
    .main__video__comments__timestamp {
        font-size: $body-text-size-desktop;
        color: $silver;
    }
    .main__video__comments__items__comment {
        font-size: $body-text-size-desktop;
        line-height: $section-line-height-desktop;
    }
}    

//Desktop
@media (min-width: 1280px) and (max-width: $desktop-screen-max-size) {
    .main__video {
    width: 100%;
  }
  .main__video__image {
    height: 640px;
    width: 100%;
  }
  .main__video__headline {
    padding: $headline-padding-before-mobile 8.125rem;
  }
  .main__video__channel {
    padding-left: 8.125rem;
    font-family: $primary-bold;
    font-size: $body-text-size-desktop;
  }
  .main__video__headline__title {
    font-family: $primary-bold;
    font-size: $page-header-text-size-desktop;
  }
  .main__video__details {
    width: 48%;
    padding: $headline-padding-after-mobile $headline-padding-after-mobile
      $headline-padding-after-mobile 8.125rem;
  }
  .main__video__details__set {
    padding-bottom: $headline-padding-after-mobile;
    border-bottom: 1px solid $mercury;
  }
  .main__video__details__paragraph__description {
    padding-top: $headline-padding-before-mobile;
    font-size: $body-text-size-desktop;
    line-height: $body-line-height-desktop;
  }
  .main__video__details__set__left__channel {
    padding-right: $headline-padding-after-desktop;
  }
  .main__video__details__set__right__duo__views {
    padding-right: $headline-padding-after-desktop;
  }
  .main__video__details__div__length {
    font-family: $primary-bold;
    padding: $headline-padding-after-mobile 0;
  }
  .main__video__comments {
    flex-direction: row;
    display: flex;
    width: 50%;
    padding: $headline-padding-after-mobile $headline-padding-after-mobile
      $headline-padding-after-mobile 7.125rem;
  }
  .main__video__comments__items {
    display: flex;
    flex-direction: column;
    padding-left: $headline-padding-before-mobile;
  }
  .main__video__comments__name {
    border-top: 0.0625 solid $mercury;
    padding-top: $headline-padding-before-mobile;
    font-size: $body-text-size-desktop;
  }
  .main__video__comments__timestamp {
    color: $silver;
    font-size: $body-text-size-desktop;
  }
  .main__video__comments__items__comment {
    padding: $headline-padding-after-mobile 0;
    font-size: $body-text-size-desktop;
    line-height: $body-line-height-desktop;
  }
  .main__video__comments__items__line {
    padding: 0.5rem;
    border-bottom: 1px solid $mercury;
  }
}