@use "styles/partials/global" as *;

* {
  margin: 0;
  padding: 0;
}
.upload {
  &__title {
    color: $brainflix-black;
    font-family: $primary-normal;
  }
}
.block {
  &__thumbnail {
    &__title {
      &__name {
        color: $silver;
      }
    }
    &__container {
      &__image {
        border-radius: 4px;
      }
    }
  }
  &__wrapper {
    &__form {
      &__container {
        &__title {
          &__name {
            color: $silver;
          }
        }
      }
      &__division {
        &__tag {
          &__placeholder {
            color: $brainflix-black;
            border: 1px solid $mercury;
            border-radius: 4px;
            background-color: $alabaster;
          }
        }
      }
    }
    &__subdivision {
      &__title {
        &__name {
          color: $silver;
        }
      }
      &__container {
        &__form {
          &__placeholder {
            background-color: $alabaster;
            border: 1px solid $mercury;
            color: $brainflix-black;
          }
        }
      }
    }
  }
}

//MOBILE
@media (max-width: $mobile-screen-min-size) {
}

//TABLET
@media (min-width: $tablet-screen-min-size) and (max-width: $tablet-screen-max-size) {
}

//DESKTOP
@media (min-width: $desktop-screen-min-size) and (max-width: $desktop-screen-max-size) {
}
