@use "styles/partials/global" as *;

* {
  margin: 0;
  padding: 0;
}

.thumbnail {
  &__title {
    &__name {
      color: $silver;
    }
  }
}
.form {
    &__continer {
        &__title { 
            &__name {
                color: $brainflix-black;
            }
        }
    }
}
//MOBILE
@media (max-width: $mobile-screen-min-size) {
  .thumbnail {
    &__title {
      padding: $headline-padding-after-mobile;
      &__name {
        font-size: $page-header-text-size-mobile;
      }
    }
  }
}

//TABLET
@media (min-width: $tablet-screen-min-size) and (max-width: $tablet-screen-max-size) {
}

//DESKTOP
@media (min-width: $desktop-screen-min-size) and (max-width: $desktop-screen-max-size) {
}
