@font-face {
  font-family: "Avenir Next Bold";
  src: url("/src/assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  width: 100%;
}
.nav__header {
  width: 100%;
  display: flex;
}
.nav__header__logo {
  display: flex;
}
.nav__header__ctn {
  width: 100%;
  display: flex;
}
.nav__header__ctn__elements {
  display: flex;
  flex-direction: row;
}
.nav__header__ctn__elements__input {
  background-color: #fafafa;
  padding-left: 0.625rem;
  display: flex;
  align-items: center;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 0.25rem;
}
.nav__header__ctn__elements__input__field {
  background-color: #fafafa;
  border: none;
}
.nav__header__ctn__elements__avatar {
  display: flex;
}
.nav__header__ctn__upload__btn {
  background-color: #0095FF;
  border-radius: 0.25rem;
  font-family: "Avenir Next Bold";
  color: #ffffff;
  border: none;
}
.nav__header__ctn__upload__btn:hover {
  background-color: #0065ad;
}
.nav__header__ctn__upload__btn__content {
  padding-left: 0.625rem;
  display: flex;
  align-content: center;
  align-items: center;
}
.nav__header__ctn__upload__btn__content__text {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 320px) {
  .nav__header {
    padding: 16px 0;
    flex-direction: column;
  }
  .nav__header__logo {
    height: 1.5625rem;
    padding: 16px 0;
    flex-direction: row;
    justify-content: center;
  }
  .nav__header__ctn {
    flex-direction: column;
  }
  .nav__header__ctn__elements {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }
  .nav__header__ctn__elements__input {
    border: 0.5px solid #e1e1e1;
    border-radius: 0.25rem;
    height: 2.25rem;
    border-radius: 0.25rem;
  }
  .nav__header__ctn__elements__avatar__image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nav__header__ctn__upload {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .nav__header__ctn__upload__btn {
    padding: 0.625rem 6.125rem;
    display: flex;
  }
  .nav__header__ctn__upload__btn__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav__header__ctn__avatar__picture {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__header {
    flex-direction: row;
  }
  .nav__header__ctn {
    padding-right: 16px;
    padding-left: 4.0625rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav__header__logo {
    height: 1.5625rem;
    padding: 1.625rem 2.125rem;
  }
  .nav__header__ctn__upload__btn {
    font-size: 12px;
    height: 2.25rem;
    width: 9.375rem;
  }
  .nav__header__ctn__elements__avatar__image {
    display: none;
  }
  .nav__header__ctn__avatar {
    display: flex;
  }
  .nav__header__ctn__avatar__picture {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .nav__header__logo {
    padding: 1.875rem 8.125rem;
  }
  .nav__header__ctn {
    padding-right: 5.625rem;
    padding-left: 11.875rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav__header__ctn__upload__btn {
    font-size: 12px;
    height: 2.5rem;
    width: 10.3125rem;
  }
  .nav__header__ctn__elements {
    align-items: center;
  }
  .nav__header__ctn__avatar {
    display: flex;
  }
  .nav__header__ctn__avatar__picture {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nav__header__ctn__elements__avatar__image {
    display: none;
  }
}/*# sourceMappingURL=Header.css.map */