@use "../../styles/partials/global" as *;

.upper-line {
  border: 1px solid $mercury;
}
.upload {
  &__title {
    color: $brainflix-black;
    font-family: $primary-normal;
  }
}
.block {
  &__thumbnail {
    &__title {
      &__name {
        font-family: $primary-normal;
        color: $silver;
      }
    }
    &__container {
      &__image {
        border-radius: 4px;
      }
    }
  }
  &__wrapper {
    &__form {
      &__container {
        &__title {
          &__name {
            color: $silver;
          }
        }
      }
      &__division {
        &__tag {
          &__placeholder {
            color: $brainflix-black;
            border: 1px solid $mercury;
            border-radius: 4px;
            background-color: $alabaster;
          }
        }
      }
    }
    &__subdivision {
      &__title {
        &__name {
          color: $silver;
        }
      }
      &__container {
        &__form {
          &__placeholder {
            background-color: $alabaster;
            border: 1px solid $mercury;
            color: $brainflix-black;
          }
        }
      }
    }
  }
}

.buttons {
  display: flex;
  &__first {
    &__name {
      border: none;
      color: $white;
      background-color: $brainflix-blue;
      border-radius: 4px;
    }
  }
  &__second {
    &__name {
      border: none;
      color: $brainflix-blue;
      background-color: $white;
      border-radius: 4px;
    }
  }
}

//MOBILE
@media (max-width: $mobile-screen-min-size) {
  .upload {
    padding: $headline-padding-after-mobile;
    &__title {
      font-size: $page-header-text-size-mobile;
    }
  }
  .block {
    &__thumbnail {
      &__title {
        padding: $headline-padding-after-mobile $headline-padding-after-mobile
          6px $headline-padding-after-mobile;
        &__name {
          font-size: $subheader-text-size-desktop;
        }
      }
      &__container {
        &__image {
          border-radius: 4px;
          object-fit: cover;
          width: 290px;
          padding: 0 $headline-padding-after-mobile;
        }
      }
    }
    &__wrapper {
      &__form {
        &__container {
          padding: $headline-padding-after-mobile;
          &__title {
            padding: 6px 0;
            &__name {
              font-size: $subheader-text-size-desktop;
            }
          }
          &__division {
            &__tag {
              &__placeholder {
                padding: 0 10px;
                width: 270px;
                height: 40px;
                border: 1px solid $mercury;
                background-color: $alabaster;
              }
            }
          }
        }
      }
      &__subdivision {
        padding: 0 $headline-padding-after-mobile;
        &__title {
          padding: 6px 0;
          &__name {
            font-size: $body-text-size-mobile;
          }
        }
        &__container {
          &__form {
            &__placeholder {
              padding: 0px 10px;
              font-size: $body-text-size-mobile;
              color: $brainflix-black;
              height: 90px;
              width: 270px;
              border: 1px solid $mercury;
              background-color: $alabaster;
            }
          }
        }
      }
    }
  }
}
.buttons {
  flex-direction: column;
  &__first {
    padding: $headline-padding-after-mobile 20px 10px 20px;
    &__content {
      border-radius: 4px;
      border: none;
      background-color: $brainflix-blue;
      width: 280px;
      height: 45px;
      &__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__icon {
          padding-left: 10px;
          padding-right: 75px;
        }
        &__publish {
          color: $white;
          font-size: 12px;
        }
      }
    }
  }
  &__second {
    padding: 10px 15px;
    &__name {
      font-size: 12px;
      width: 280px;
      height: 45px;
    }
  }
}

//TABLET
@media (min-width: $tablet-screen-min-size) and (max-width: $tablet-screen-max-size) {
  .upload {
    padding: $headline-padding-after-desktop $headline-padding-after-desktop 0px
      $headline-padding-after-desktop;
    &__title {
      font-size: $page-header-text-size-desktop;
    }
  }
  .upload-line {
    border-bottom: 1px solid $mercury;
    padding: 12px 0;
    width: 92%;
    margin: auto;
  }
  .block {
    &__thumbnail {
      &__title {
        padding: $headline-padding-before-mobile $headline-padding-after-desktop
          10px $headline-padding-after-desktop;
        &__name {
          font-size: $body-text-size-desktop;
        }
      }
      &__container {
        padding: 0 $headline-padding-after-desktop;
        &__image {
          border-radius: 4px;
          object-fit: cover;
          height: 200px;
          width: 350px;
        }
      }
    }
    &__wrapper {
      &__form {
        &__container {
          &__title {
            padding: $headline-padding-after-mobile 0 6px 36px;
            &__name {
              font-family: $primary-normal;
              font-size: $body-text-size-desktop;
            }
          }
          &__division {
            &__tag {
              padding: 0 36px;
              &__placeholder {
                font-family: $primary-normal;
                font-size: $body-text-size-desktop;
                color: $brainflix-black;
                width: 700px;
                height: 40px;
                border-radius: 4px;
                border: 1px solid $mercury;
                background-color: $alabaster;
              }
            }
          }
        }
      }
      &__subdivision {
        &__title {
          padding: $headline-padding-after-mobile 0px 6px 36px;
          &__name {
            font-family: $primary-normal;
            font-size: $subheader-text-size-desktop;
            color: $silver;
          }
        }
        &__container {
          &__form {
            padding: 0 36px;
            &__placeholder {
              font-family: $primary-normal;
              background-color: $alabaster;
              border: 1px solid $mercury;
              color: $brainflix-black;
              width: 700px;
              height: 90px;
            }
          }
        }
      }
    }
  }
  .bottom-line {
    border-bottom: 1px solid $mercury;
    padding: $headline-padding-after-mobile 0;
    width: 92%;
    margin: auto;
  }
  .buttons {
    padding: 24px;
    flex-direction: row-reverse;
    &__first {
      padding: $headline-padding-after-mobile;
      &__content {
        width: 180px;
        height: 45px;
        &__wrap {
          &__icon {
            padding-left: 10px;
            padding-right: 32px;
          }
          &__publish {
            font-size: 13px;
          }
        }
      }
    }
    &__second {
      padding: 10px 15px;
      &__name {
        font-size: 13px;
        width: 150px;
        height: 45px;
      }
    }
  }
}

//DESKTOP
@media (min-width: $desktop-screen-min-size) and (max-width: $desktop-screen-max-size) {
  .upload {
    padding: $headline-padding-after-desktop 100px;
    &__title {
      font-size: $page-header-text-size-desktop;
    }
  }
  .upload-line {
    width: 85%;
    margin: 0 auto;
    border: 1px solid $mercury;
  }
  .block {
    display: flex;
    flex-direction: row;
    &__thumbnail {
      &__title {
        padding: $headline-padding-after-desktop 100px;
        &__name {
          font-size: $headline-padding-after-mobile;
        }
      }
      &__container {
        padding: 0 $headline-padding-after-desktop 10px 100px;
        &__image {
          border-radius: 4px;
          object-fit: cover;
          height: 195px;
          width: 375px;
        }
      }
    }
    &__wrapper {
      padding: 80px 0px 0px $headline-padding-before-mobile;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &__form {
        &__container {
          &__title {
            font-family: $primary-normal;
            color: $silver;
            padding: $headline-padding-after-mobile 0 10px 0px;
            &__name {
              font-size: $subheader-text-size-desktop;
            }
          }
          &__division {
            &__tag {
              &__placeholder {
                background-color: $alabaster;
                border: 1px solid $mercury;
                border-radius: 4px;
                font-size: $body-text-size-desktop;
                color: $brainflix-black;
                width: 635px;
                height: 45px;
              }
            }
          }
        }
      }
      &__subdivision {
        &__title {
          &__name {
            font-family: $primary-normal;
            padding-bottom: 10px;
            font-size: $subheader-text-size-desktop;
            color: $silver;
          }
        }
        &__container {
          &__form {
            &__placeholder {
              background-color: $alabaster;
              border: 1px solid $mercury;
              color: $brainflix-black;
              width: 635px;
              height: 90px;
            }
          }
        }
      }
    }
  }
  input::placeholder {
    color: $brainflix-black;
    font-size: $body-text-size-desktop;
  }
  .buttons {
    padding: 24px 90px;
    flex-direction: row-reverse;
    &__first {
      padding: $headline-padding-after-mobile;
      &__content {
        width: 180px;
        height: 45px;
        &__wrap {
          &__icon {
            padding-left: 10px;
            padding-right: 32px;
          }
          &__publish {
            font-size: 13px;
          }
        }
      }
    }
    &__second {
      padding: 10px 15px;
      &__name {
        font-size: 13px;
        width: 150px;
        height: 45px;
      }
    }
  }
}
