@use "styles/partials/global" as *;

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  &__logo {
    display: flex;
  }
}

.main {
  &__container {
    &__title {
      font-family: $primary-bold;
      color: $brainflix-black;
    }
  }
}
