@use "styles/partials/global" as *;
* {
  margin: 0;
  padding: 0;
}

.header {
  &__logo {
    height: 25px;
    display: flex;
  }
  &__ctn {
    display: flex;
    &__avatar {
      display: flex;
    }
  }
  &__upload {
    &__container {
      &__btn {
        background-color: $brainflix-blue;
        border-radius: 4px;
        font-family: $primary-bold;
        color: $white;
        border: none;
      }
    }
  }
}

.main {
  &__container {
    &__header {
      &__title {
        font-family: $primary-normal;
        color: $brainflix-black;
      }
    }
  }
  &__info {
    &__by {
      font-family: $primary-normal;
      color: $brainflix-black;
    }
    &__box {
      display: flex;
      &__viewrs {
        font-family: $primary-normal;
        color: $silver;
      }
    }
    &__time {
      font-family: $primary-normal;
      color: $silver;
    }
    &__duo {
      display: flex;
      &__likers {
        font-family: $primary-normal;
        color: $silver;
      }
    }
  }
  &__text {
    &__paragraph {
      font-family: $primary-normal;
      color: $brainflix-black;
    }
    &__comm {
      font-family: $primary-bold;
    }
  }
  &__section {
    &__div {
      &__title {
        font-family: $primary-normal;
        color: $silver;
      }
    }
    &__btn {
      display: flex;
      padding-top: 16px;
      padding-bottom: $headline-padding-after-mobile;
      border-bottom: 2px solid $mercury;
      &__comment {
        background-color: $brainflix-blue;
        border-radius: 4px;
        font-family: $primary-bold;
        color: $white;
        border: none;
      }
    }
  }
}
.gallery {
  &__header {
    &__title {
      font-family: $primary-normal;
      color: $silver;
    }
  }
}
.comments {
  &__division {
    border-bottom: 2px solid $mercury;
    &__placeholder {
      background-color: $mercury;
      border-radius: 50%;
    }
    &__name {
      font-family: $primary-normal;
      color: $brainflix-black;
    }
    &__timestamp {
      font-family: $primary-normal;
      color: $silver;
    }
    &__text {
      font-family: $primary-normal;
      color: $brainflix-black;
    }
  }
}
//Mobile
@media (max-width: $mobile-screen-min-size) {
  .header__logo {
    padding: $headline-padding-after-mobile 0;
    flex-direction: row;
    justify-content: center;
  }
  .header__ctn__input {
    height: 36px;
    border: 4px;
  }
  .header__ctn__avatar__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }
  .header__upload__container {
    display: flex;
    justify-content: center;
  }
  .header__upload__container__btn {
    padding: 15px 110px;
  }
  .main__container__header {
    padding: 0px 16px 24px 16px;
    border-bottom: 2px $mercury solid;
  }
  .main__text__paragraph {
    padding: $headline-padding-between-components-mobile;
    line-height: 20px;
    font-size: 15px;
  }
  .main__text__comm {
    font-size: 15px;
    padding: 0 $headline-padding-between-components-mobile;
  }
  .main__section__div__title {
    font-size: 16px;
    padding: 16px 16px;
  }
  .main__section__btn {
    flex-direction: row;
    justify-content: center;
  }
  .main__section__btn__comment {
    padding: 13px 90px;
  }
  .gallery__header__title {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile;
  }
  .comments {
    padding: $headline-padding-after-mobile $headline-padding-after-mobile;
  }
  .comments__division {
    padding: $headline-padding-after-mobile 0px $headline-padding-after-mobile
      0px;
  }
  .comments__division__placeholder {
    height: 36px;
    width: 36px;
  }
}

//Tablet
@media (min-width: 768px) and (max-width: $tablet-screen-max-size) {
  .header__logo {
    padding: 26px 34px;
  }
  input {
    font-family: $primary-normal;
    color: $brainflix-black;
    font-size: 12px;
    width: 190px;
    height: 30px;
  }
  .header__upload__container__btn {
    font-size: 12px;
    height: 36px;
    width: 150px
  }
  .header__ctn__avatar__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
     object-fit: cover;
  }
}

//Desktop
@media (min-width: 1280px) and (max-width: $desktop-screen-max-size) {
  .header__logo {
    padding: 30px 110px;
  }
  input {
    font-family: $primary-normal;
    color: $brainflix-black;
    font-size: 12px;
    width: 230px;
    height: 38px;
  }
  .header__upload__container__btn {
    font-size: 12px;
    height: 40px;
    width: 165px;
  }
  .header__ctn__avatar__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
     object-fit: cover;
  }
}

// TODO video list components