@font-face {
  font-family: "Avenir Next Bold";
  src: url("assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  width: 100%;
}
.nav__header {
  width: 100%;
  display: flex;
}
.nav__header__logo {
  display: flex;
}
.nav__header__ctn {
  width: 100%;
  display: flex;
}
.nav__header__ctn__elements {
  display: flex;
  flex-direction: row;
}
.nav__header__ctn__elements__input {
  background-color: #fafafa;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border: 0.5px solid #e1e1e1;
  border-radius: 4px;
}
.nav__header__ctn__elements__input__field {
  border: none;
}
.nav__header__ctn__elements__avatar {
  display: flex;
}
.nav__header__ctn__upload__btn {
  background-color: #0095FF;
  border-radius: 4px;
  font-family: "Avenir Next Bold";
  color: #ffffff;
  border: none;
}
.nav__header__ctn__upload__btn__content {
  padding-left: 10px;
  display: flex;
  align-content: center;
  align-items: center;
}
.nav__header__ctn__upload__btn__content__text {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__container__header__title {
  font-family: "Avenir Next";
  color: #323232;
}
.main__info__by {
  font-family: "Avenir Next";
  color: #323232;
}
.main__info__box {
  display: flex;
}
.main__info__box__viewrs {
  font-family: "Avenir Next";
  color: #afafaf;
}
.main__info__time {
  font-family: "Avenir Next";
  color: #afafaf;
}
.main__info__duo {
  display: flex;
}
.main__info__duo__likers {
  font-family: "Avenir Next";
  color: #afafaf;
}
.main__text__paragraph {
  font-family: "Avenir Next";
  color: #323232;
}
.main__text__comm {
  font-family: "Avenir Next Bold";
}
.main__section__div__title {
  font-family: "Avenir Next";
  color: #afafaf;
}
.main__section__elements {
  display: flex;
}
.main__section__elements__cont {
  display: flex;
}
.main__section__elements__btn {
  display: flex;
}
.main__section__elements__btn__comment {
  background-color: #0095FF;
  border-radius: 4px;
}
.main__section__elements__btn__comment__pack {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main__section__elements__btn__comment__pack__text {
  font-family: "Avenir Next Bold";
  color: #ffffff;
  border: none;
}

.gallery__header__title {
  font-family: "Avenir Next";
  color: #afafaf;
}

.comments__division {
  border-bottom: 2px solid #e1e1e1;
}
.comments__division__placeholder {
  background-color: #e1e1e1;
  border-radius: 50%;
}
.comments__division__name {
  font-family: "Avenir Next";
  color: #323232;
}
.comments__division__timestamp {
  font-family: "Avenir Next";
  color: #afafaf;
}
.comments__division__text {
  font-family: "Avenir Next";
  color: #323232;
}

.sumary {
  display: flex;
}
.sumary__wrap {
  display: flex;
}
.sumary__elements {
  display: flex;
}
.sumary__elements__id {
  display: none;
}
.sumary__elements__title {
  display: flex;
  font-family: "Avenir Next Bold";
  color: #323232;
}
.sumary__elements__channel {
  display: flex;
  font-family: "Avenir Next";
  color: #323232;
}

.gallery {
  display: flex;
}
.gallery__section__headline {
  color: #afafaf;
  display: flex;
}
.gallery__section__headline__title {
  font-family: "Avenir Next";
  color: #e1e1e1;
}

@media (max-width: 320px) {
  .nav__header {
    padding: 16px 0;
    flex-direction: column;
  }
  .nav__header__logo {
    height: 25px;
    padding: 16px 0;
    flex-direction: row;
    justify-content: center;
  }
  .nav__header__ctn {
    flex-direction: column;
  }
  .nav__header__ctn__elements {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }
  .nav__header__ctn__elements__input {
    border: 0.5px solid #e1e1e1;
    border-radius: 4px;
    height: 36px;
    border-radius: 4px;
  }
  .nav__header__ctn__elements__input {
    border: none;
  }
  .nav__header__ctn__elements__avatar__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nav__header__ctn__upload {
    padding: 16px;
    display: flex;
    justify-content: center;
  }
  .nav__header__ctn__upload__btn {
    padding: 10px 98px;
    display: flex;
  }
  .nav__header__ctn__upload__btn__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav__header__ctn__avatar__picture {
    display: none;
  }
  .main__container__header {
    padding: 0px 16px 24px 16px;
    border-bottom: 2px #e1e1e1 solid;
  }
  .main__text__paragraph {
    padding: 16px;
    line-height: 20px;
    font-size: 15px;
  }
  .main__text__comm {
    font-size: 15px;
    padding: 0 16px;
  }
  .main__section__elements {
    flex-direction: column;
  }
  .main__section__elements__cont {
    justify-content: space-evenly;
  }
  .main__section__div__title {
    font-size: 16px;
    padding: 16px 16px;
  }
  .main__section__elements__cont__avatar__image {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__section__elements__btn {
    border-bottom: 1px solid #e1e1e1;
    margin: 0 auto;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .main__section__elements__btn__comment {
    padding: 13px 90px;
  }
  .main__video__image {
    width: 320px;
    height: 190px;
  }
  .main__video__headline {
    margin: 0 auto;
    width: 90%;
    padding: 16px 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .main__video__headline__title {
    font-family: "Avenir Next Bold";
    font-size: 24px;
  }
  .gallery__header__title {
    padding: 24px 16px;
  }
  .comments {
    padding: 16px 16px;
  }
  .comments__division {
    padding: 16px 0px 16px 0px;
  }
  .comments__division__placeholder {
    height: 36px;
    width: 36px;
  }
  .gallery__section__headline {
    padding: 16px 0 0 16px;
  }
  .gallery__section__headline__title {
    color: #afafaf;
    font-family: "Avenir Next";
    font-size: 14px;
  }
  .sumary {
    display: flex;
    padding: 16px;
  }
  .sumary__wrap {
    display: flex;
  }
  .sumary__wrap__image {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px;
    width: 100px;
    height: 60px;
  }
  .sumary__elements {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sumary__elements__id {
    display: none;
  }
  .sumary__elements__title {
    font-size: 13px;
    display: flex;
    font-family: "Avenir Next";
  }
  .sumary__elements__channel {
    font-size: 13px;
    display: flex;
    font-family: "Avenir Next";
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__header {
    flex-direction: row;
  }
  .nav__header__ctn {
    padding-right: 16px;
    padding-left: 65px;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav__header__logo {
    height: 25px;
    padding: 26px 34px;
  }
  input {
    font-family: "Avenir Next";
    color: #323232;
    font-size: 12px;
    padding: 10px 16px;
    width: 190px;
  }
  .nav__header__ctn__upload__btn {
    font-size: 12px;
    height: 36px;
    width: 150px;
  }
  .nav__header__ctn__elements__avatar__image {
    display: none;
  }
  .nav__header__ctn__avatar {
    display: flex;
  }
  .nav__header__ctn__avatar__picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main__section__div__title {
    font-size: 12px;
  }
  .main__section__elements {
    flex-direction: row;
    justify-content: space-around;
  }
  .main__section__elements__cont__avatar__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .main__section__elements__btn__comment {
    font-size: 12px;
    width: 150px;
  }
  .main__section__elements__btn__comment__pack {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .main__video__image {
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
    height: 430px;
    width: 768px;
  }
  .main__video__headline {
    padding: 16px 34px;
  }
  .main__video__headline__title {
    font-size: 33px;
    font-family: "Avenir Next Bold";
  }
  .main__video__channel {
    padding-left: 34px;
    font-family: "Avenir Next Bold";
    font-size: 14px;
  }
  .gallery__section__headline {
    padding: 16px 24px;
    font-size: 12px;
  }
  .gallery__section__playlist {
    padding: 0 24px;
  }
  .sumary {
    padding: 16px 0;
  }
  .sumary__wrap__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 150px;
    height: 90px;
    border-radius: 4px;
  }
  .sumary__elements {
    justify-content: space-around;
    width: 35%;
    padding: 0 16px;
    flex-direction: column;
  }
  .sumary__elements__title {
    font-family: "Avenir Next";
    padding-bottom: 15px;
    font-size: 14px;
  }
  .sumary__elements__channel {
    padding-top: 15px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .nav__header__logo {
    padding: 30px 130px;
  }
  input {
    font-family: "Avenir Next";
    color: #323232;
    font-size: 12px;
    width: 230px;
    height: 38px;
  }
  .nav__header__ctn {
    padding-right: 90px;
    padding-left: 190px;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav__header__ctn__upload__btn {
    font-size: 12px;
    height: 40px;
    width: 165px;
  }
  .nav__header__ctn__elements {
    align-items: center;
  }
  .nav__header__ctn__avatar {
    display: flex;
  }
  .nav__header__ctn__avatar__picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nav__header__ctn__elements__avatar__image {
    display: none;
  }
  .main__video {
    width: 100%;
  }
  .main__video__image {
    width: 100%;
  }
  .main__video__headline {
    padding: 24px 130px;
  }
  .main__video__channel {
    padding-left: 130px;
    font-family: "Avenir Next Bold";
    font-size: 14px;
  }
  .main__video__headline__title {
    font-family: "Avenir Next Bold";
    font-size: 33px;
  }
  .main__section__div__title {
    font-size: 12px;
  }
  .main__section__elements {
    flex-direction: row;
    justify-content: space-around;
  }
  .main__section__elements__btn__comment {
    font-size: 12px;
    height: 36px;
    width: 150px;
  }
  .main__section__elements__cont__avatar__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  aside {
    border-left: 2px solid #e1e1e1;
    width: 35%;
    padding-left: 24px;
    float: right;
  }
  .gallery__section__headline {
    padding: 16px 24px;
    font-size: 12px;
  }
  .sumary__wrap {
    padding: 16px 24px;
  }
  .sumary__wrap__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 130px;
    height: 80px;
    border-radius: 4px;
  }
  .sumary__elements {
    line-height: 22px;
    width: 35%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .sumary__elements__title {
    font-size: 14px;
    font-family: "Avenir Next Bold";
  }
  .sumary__elements__channel {
    font-size: 14px;
    font-family: "Avenir Next";
  }
}/*# sourceMappingURL=index.css.map */