@use "styles/partials/global" as *;
* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  width: 100%;
  &__header {
    width: 100%;
    display: flex;
    &__logo {
      height: 25px;
      display: flex;
    }
    &__ctn {
      width: 100%;
      display: flex;
      &__elements {
        display: flex;
        flex-direction: row;
        &__input {
          padding-left: 10px;
          display: flex;
          align-items: center;
          border: 0.5px solid $mercury;
          border-radius: 4px;
          &__field {
            border: none;
          }
        }
        &__avatar {
        display: flex;
        }
      }
      &__upload {
        &__btn {
          background-color: $brainflix-blue;
          border-radius: 4px;
          font-family: $primary-bold;
          color: $white;
          border: none;
          &__content {
            padding-left: 10px;
            display: flex;
            align-content: center;
            align-items: center;
            &__text {
              width: 100%;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

.main {
  &__container {
    &__header {
      &__title {
        font-family: $primary-normal;
        color: $brainflix-black;
      }
    }
  }
  &__info {
    &__by {
      font-family: $primary-normal;
      color: $brainflix-black;
    }
    &__box {
      display: flex;
      &__viewrs {
        font-family: $primary-normal;
        color: $silver;
      }
    }
    &__time {
      font-family: $primary-normal;
      color: $silver;
    }
    &__duo {
      display: flex;
      &__likers {
        font-family: $primary-normal;
        color: $silver;
      }
    }
  }
  &__text {
    &__paragraph {
      font-family: $primary-normal;
      color: $brainflix-black;
    }
    &__comm {
      font-family: $primary-bold;
    }
  }
  &__section {
    &__div {
      &__title {
        font-family: $primary-normal;
        color: $silver;
      }
    }
    &__elements {
      display: flex;
      &__cont {
        display: flex;
      }
      &__btn {
        display: flex;
        border-bottom: 2px solid $mercury;
        &__comment {
          background-color: $brainflix-blue;
          border-radius: 4px;
          font-family: $primary-bold;
          color: $white;
          border: none;
        }
      }
    }
  }
}
.gallery {
  &__header {
    &__title {
      font-family: $primary-normal;
      color: $silver;
    }
  }
}
.comments {
  &__division {
    border-bottom: 2px solid $mercury;
    &__placeholder {
      background-color: $mercury;
      border-radius: 50%;
    }
    &__name {
      font-family: $primary-normal;
      color: $brainflix-black;
    }
    &__timestamp {
      font-family: $primary-normal;
      color: $silver;
    }
    &__text {
      font-family: $primary-normal;
      color: $brainflix-black;
    }
  }
}
.sumary__image{
  width: 100px;
  height: 100px;
}
//Mobile
@media (max-width: $mobile-screen-min-size) {
  .nav__header {
    padding: $headline-padding-after-mobile 0;
    flex-direction: column;
  }
  .nav__header__logo {
    padding: $headline-padding-after-mobile 0;
    flex-direction: row;
    justify-content: center;
  }
  .nav__header__ctn {
    flex-direction: column;
  }
  .nav__header__ctn__elements {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
  }
  .nav__header__ctn__elements__input {
    border: 0.5px solid $mercury;
    border-radius: 4px;
    height: 36px;
    border-radius: 4px;
  }
  .nav__header__ctn__elements__input { 
    border: none;
  }
  .nav__header__ctn__elements__avatar__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }
  .nav__header__ctn__upload {
    padding: 16px;
    display: flex;
    justify-content: center;
  }
  .nav__header__ctn__upload__btn {
    padding: 10px 98px;
  }
  .main__container__header {
    padding: 0px 16px 24px 16px;
    border-bottom: 2px $mercury solid;
  }
  .main__text__paragraph {
    padding: $headline-padding-between-components-mobile;
    line-height: 20px;
    font-size: 15px;
  }
  .main__text__comm {
    font-size: 15px;
    padding: 0 $headline-padding-between-components-mobile;
  }
  .main__section__elements{
    flex-direction: column;
  }
  .main__section__elements__cont{
    justify-content: space-evenly;
  }
  .main__section__div__title {
    font-size: 16px;
    padding: 16px 16px;
  }
  .main__section__elements__cont__avatar__image {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: cover;
  }
  .main__section__elements__btn {
    flex-direction: row;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: $headline-padding-after-mobile;
  }
  .main__section__elements__btn__comment {
    padding: 13px 90px;

  }
  .gallery__header__title {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile;
  }
  .comments {
    padding: $headline-padding-after-mobile $headline-padding-after-mobile;
  }
  .comments__division {
    padding: $headline-padding-after-mobile 0px $headline-padding-after-mobile
      0px;
  }
  .comments__division__placeholder {
    height: 36px;
    width: 36px;
  }
  
}

//Tablet
@media (min-width: 768px) and (max-width: $tablet-screen-max-size) {
  .nav__header {
    flex-direction: row;
  }
  .nav__header__ctn {
    padding-right: 16px;
    padding-left: 65px;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav__header__logo {
    padding: 26px 34px;
  }
  input {
    font-family: $primary-normal;
    color: $brainflix-black;
    font-size: 12px;
    padding: 10px 16px;
    width: 190px;
  }
  .nav__header__ctn__upload__btn {
    font-size: 12px;
    height: 36px;
    width: 150px;
  }
  .nav__header__ctn__elements__avatar__image {
    display: none;
    // width: 40px;
    // height: 40px;
    // border-radius: 50%;
    // -o-object-fit: cover;
    // object-fit: cover;
  }
  .nav__header__ctn__avatar {
    display: flex;
  }
  .nav__header__ctn__avatar__picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .main__section__div__title {
    font-size: 12px;
  }
  .main__section__elements {
    flex-direction: row;
    justify-content: space-around;
  }
  .main__section__elements__cont__avatar__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .main__section__elements__btn__comment {
    font-size: 12px;
    height: 36px;
    width: 150px;
  }
  
}

//Desktop
@media (min-width: 1280px) and (max-width: $desktop-screen-max-size) {
  .nav__header__logo {
    padding: 30px 110px;
  }
  input {
    font-family: $primary-normal;
    color: $brainflix-black;
    font-size: 12px;
    width: 230px;
    height: 38px;
  }
  .nav__header__ctn {
    padding-right: 16px;
    padding-left: 65px;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav__header__ctn__upload__btn {
    font-size: 12px;
    height: 40px;
    width: 165px;
  }
  .nav__header__ctn__elements { 
    align-items: center;
  }
  .nav__header__ctn__avatar {
    display: flex;
  }
  .nav__header__ctn__avatar__picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .nav__header__ctn__elements__avatar__image {
    display: none;
    // width: 40px;
    // height: 40px;
    // border-radius: 50%;
    // -o-object-fit: cover;
    // object-fit: cover;
  }
  .main__section__div__title {
    font-size: 12px;
  }
  .main__section__elements {
    flex-direction: row;
    justify-content: space-around;
  }
  .main__section__elements__btn__comment {
    font-size: 12px;
    height: 36px;
    width: 150px;
  }
  .main__section__elements__cont__avatar__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

// TODO video list components
